{% extends 'base.html' %}
{% block content %}
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <h1 style="font-size: 30px; color: #d35400;">BondMarket: ANALYTICS</h1>
        <h3 class="text-muted">Monday 23 July, 2021</h3>
        <h5 class="text-muted">13:09</h5>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center;">
                <img style="width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Blue_bar_graph.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center;">
                <img style="width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sample_Pie_Chart.png" alt="">
            </div>
        </div>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Account</th>
                <th scope="col">Date</th>
                <th scope="col">Change</th>
                <th scope="col">Balance</th>
                <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td scope="row">233-6784</td>
                <td>23 July</td>
                <td>-20.00</td>
                <td>859.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
                <tr>
                <td scope="row">233-6784</td>
                <td>20 July</td>
                <td>-20.00</td>
                <td>879.50</td>
                <td><a href="">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    
{% endblock %}
