{% extends 'base.html' %}
{% block content %}
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <h1 style="font-size: 30px; color: #d35400;">AdminOnlyTermCreation</h1>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color: #d35400;">Details:</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.maturity.label(class="form-control-label") }}
                    {% if form.maturity.errors %}
                        {{ form.maturity(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.maturity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.maturity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.rate.label(class="form-control-label") }}
                    {% if form.rate.errors %}
                        {{ form.rate(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-warning") }}
            </div>
        </form>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Terms in stock</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Maturity</th>
            <th scope="col">Rate</th>
          </tr>
        {% for term in stock %}
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ term.name }}</td>
            <td>{{ term.maturity }}</td>
            <td>{{ term.rate }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Term Owners</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Term</th>
            <th scope="col">Balance</th>
            <th scope="col">Date deposited</th>
          </tr>
        {% for owner in owners %}
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ owner.user_id }}</td>
            <td>{{ owner.term_id }}</td>
            <td>{{ owner.balance }}</td>
            <td>{{ owner.timestamp.strftime('%Y-%m-%d') }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
