{% extends 'base.html' %}
{% block content %}
<div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="font-size: 15px;">
    <button class="btn">
        <a href="{{ url_for('admin.admin_bond') }}"><i class="fas fa-chevron-left"></i>Back</a>
    </button>
    <br>
    <br>
        <h3 class="text-muted">Bond{{ bond.id }}</h3>
        <hr>
            <ul>
                <li>Name: <p class="text-muted">{{ bond.name }}</p></li>
                <li>RefNum: <p class="text-muted">{{ bond.ref_num }}</p></li>
                <li>Maturity: <p class="text-muted">{{ bond.maturity }} days</p></li>
                <li>Coupon: <p class="text-muted">{{ bond.rate*100 }}%</p></li>
                <li>FaceValue: <p class="text-muted">${{ bond.face_value }}</p></li>
                <li>Quantity: <p class="text-muted">{{ bond.quantity }}</p></li>
                <li>Info: <p class="text-muted">{{ bond.info }}</p></li>
            </ul>
            <div>
                    <!-- delete modal is from bootstrap, paste modal is posted beneath content section-->
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
</div>
<!-- Modal -->
<!--change example to delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete {{ bond.name }}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('admin.delete_bond', bond_id=bond.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}