{% extends 'base.html' %}
{% block content %}
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <h1 style="font-size: 30px; color: #d35400;">BondMarket: ANALYTICS</h1>
        <h3 class="text-muted">Date: <span id="datetime"></span></h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center;">
                <img style="width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Blue_bar_graph.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center;">
                <img style="width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sample_Pie_Chart.png" alt="">
            </div>
        </div>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
        <table class="table">
            <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">RefNum</th>
            <th scope="col">Maturity</th>
            <th scope="col">Rate</th>
            <th scope="col">FaceValue</th>
            <th scope="col">Quantity</th>
          </tr>
        {% for bond in stock %}
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ bond.name }}</td>
            <td>{{ bond.ref_num }}</td>
            <td>{{ bond.maturity }}</td>
            <td>{{ bond.rate }}</td>
            <td>{{ bond.face_value }}</td>
            <td>{{ bond.quantity }}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

<!--JavaScript live date script-->
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = ( (("0"+dt.getDate()).slice(-2))+" "+ ("0"+(dt.getMonth()+1)).slice(-2)) +" "+ (dt.getFullYear());
</script>
{% endblock %}
