{% extends 'base.html' %}
{% block content %}
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
    <h1 style="font-size: 30px; color: #d35400;">GSB Social</h1>
      <a href="{{ url_for('main.gsb_social') }}">
        <button class="btn btn-warning"><i class="fas fa-chevron-left"></i> Back</button>
      </a>
  </div>
  {% for message in messages %}
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3><b>{{ message.messager.username }}</b></h3>
    <h5>{{ message.message }}</h5>
    <p class="text-muted">Sent at {{ message.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
  </div>
  {% endfor %}
{% endblock %}
