{% extends 'base.html' %}
{% block content %}
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
      <h1 style="font-size: 30px; color: #d35400;">Leaderboard</h1>
  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total</th>
        </tr>
      {% for user in users %}
      </thead>
      <tbody>
        <tr>
          <td>{{ user.username }}</td>
          <td>${{ user.total }}</td>
      {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
