{% extends 'base.html' %}
{% block content %}
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
      <h1 style="font-size: 30px; color: #d35400;">MyPersonal</h1>
      <h3 class="text-muted">Balance: ${{ personal.cash }}</h3>
      <h5 class="text-muted">Account#: {{ personal.account }}</h5>
  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Funds Received</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Account</th>
            <th scope="col">DateTime</th>
            <th scope="col">Change</th>
            <th scope="col">Balance</th>
            <th scope="col">Details</th>
          </tr>
        {% for receive in receives %}
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ receive.sender }}</td>
            <td>{{ receive.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ receive.amount }}</td>
            <td>{{ receive.balance }}</td>
            <td><a href="">Details</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Funds Sent</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Account</th>
            <th scope="col">DateTime</th>
            <th scope="col">Change</th>
            <th scope="col">Balance</th>
            <th scope="col">Details</th>
          </tr>
        {% for send in sends %}
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ send.receiver }}</td>
            <td>{{ send.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ send.amount }}</td>
            <td>{{ send.balance }}</td>
            <td><a href="#">Details</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
