{% extends 'base.html' %}
{% block content %}
<div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="font-size: 15px;">
    <button class="btn">
        <a href="{{ url_for('main.my_personal') }}"><i class="fas fa-chevron-left"></i>Back</a>
    </button>
    <br>
    <br>
        <h3 class="text-muted">Send Transaction {{ send.id }}</h3>
        <hr>
            <ul>
                <li>Receiver: <p class="text-muted">{{ send.receiver }}</p></li>
                <li>DateTime: <p class="text-muted">{{ send.timestamp.strftime('%Y-%m-%d %H:%M') }}</p></li>
                <li>Amount: <p class="text-muted">-${{ send.amount }}</p></li>
                <li>Balance: <p class="text-muted">${{ send.balance }}</p></li>
                <li>Note: <p class="text-muted">{{ send.note }}</p></li>
            </ul>
</div>
{% endblock %}