{% extends 'base.html' %}
{% block content %}
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
        <h1 style="font-size: 30px; color: #d35400;">BondMarket: BUY</h1>
        <h3 class="text-muted">Current Sellers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Seller ID</th>
                    <th scope="col">Bond ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Yield</th>
                </tr>
                {% for sell in sells %}
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ sell.user_id }}</td>
                    <td>{{ 100+sell.bond_id }}</td>
                    <td>${{ sell.offer }}</td>
                    <td>{{ sell.quantity }}</td>
                    <td>{{ sell.yd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color: #d35400;">Buy from current seller:</legend>
                <div style="padding-bottom: 20px;">
                    <button class="btn">
                        <a href="{{ url_for('bond.new_buy') }}">New Buy Order</a>
                    </button>
                </div>
                <div class="form-group">
                    {{ form.user.label(class="form-control-label") }}
                    {% if form.user.errors %}
                        {{ form.user(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.user.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ref_num.label(class="form-control-label") }}
                    {% if form.ref_num.errors %}
                        {{ form.ref_num(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.ref_num.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ref_num(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.quantity.label(class="form-control-label") }}
                    {% if form.quantity.errors %}
                        {{ form.quantity(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.quantity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-warning") }}
            </div>
        </form>
    </div>
{% endblock %}
