{% extends 'base.html' %}
{% block content %}
    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
        <h1 style="font-size: 30px; color: #d35400;">BondMarket: SELL</h1>
        <h3 class="text-muted">Current Buyers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Buyer ID</th>
                    <th scope="col">Bond ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Yield</th>
                </tr>
                {% for buy in buys %}
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ buy.user_id }}</td>
                    <td>{{ 100+buy.bond_id }}</td>
                    <td>${{ buy.bid }}</td>
                    <td>{{ buy.quantity }}</td>
                    <td>{{ buy.yd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if current_user.market == False %}
      <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <h1 style="font-size: 30px; color: #d35400;">Market status</h1>
        <p>GSB Bond Market is currently closed</p>
      </div>
    {% elif current_user.market == True %}
        <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: #d35400;">New sell order:</legend>
                    <div style="padding-bottom: 20px;">
                        <button class="btn">
                            <a href="{{ url_for('bond.sell_bond') }}"><i class="fas fa-chevron-left"></i>Back</a>
                        </button>
                    </div>
                    <div class="form-group">
                        {{ form.ref_num.label(class="form-control-label") }}
                        {% if form.ref_num.errors %}
                            {{ form.ref_num(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.ref_num.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.ref_num(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.quantity.label(class="form-control-label") }}
                        {% if form.quantity.errors %}
                            {{ form.quantity(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.quantity.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.quantity(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-warning") }}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}