{% extends 'base.html' %}
{% block content %}
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
    <h1 style="font-size: 30px; color: #d35400;">MyTerm</h1>
    {% for term in terms %}
    <h3 class="text-muted"><b>{{ term.term.name }}</b>: ${{ term.balance }}</h3>  
    {% endfor %}  
  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Funds Deposited</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">DateTime</th>
          <th scope="col">Change</th>
          <th scope="col">Balance</th>
          <th scope="col">Details</th>
        </tr>
      {% for send in sends %}
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{ send.receiver }}</td>
                <td>{{ send.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ send.amount }}</td>
                <td>{{ send.balance }}</td>
                <td><a href="{{ url_for('term.deposit', send_id=send.id) }}">Details</a></td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded" style="max-height: 500px; overflow: scroll;">
    <h3 class="text-muted">Funds Returned</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">DateTime</th>
          <th scope="col">Change</th>
          <th scope="col">Balance</th>
          <th scope="col">Details</th>
        </tr>
      {% for receive in receives %}
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{ receive.sender }}</td>
                <td>{{ receive.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>-{{ receive.amount }}</td>
                <td>{{ receive.balance }}</td>
                <td><a href="{{ url_for('term.withdraw', receive_id=receive.id) }}">Details</a></td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
